:root {
  --primary-main: #e6fff7;
  --primary-dark: #ffcee7;

  --secondary-main: #dabaff;
  --secondary-dark: #9784f9;
  --secondary-darker: #0700d2;
  
  --font-colour: #06002c;

  --white: #ffffff;

  background-color: var(--primary-dark);
}

.App {
  background-color: var(--primary-dark);
  font-family: 'Short Stack', sans-serif;
  font-size: 1.5rem;
  color: var(--font-colour);
}

div.body-container {
  width: 50%;
  margin: 4rem auto 1rem;
  padding: 1rem;

  font-family: 'Short Stack', sans-serif;
  
  color: var(--font-colour);

  background: var(--primary-main);

  border: 2px solid var(--primary-main);
  border-radius: 30px;
}

.form-control {
  height: 55px;

  font-size: 1.25rem;

  border: 2px solid var(--white);
  border-radius: 10px;
}

.form-control:focus {
  border: 2px solid var(--white);

  box-shadow: none;
}

.btn {
  height: 55px;

  font-size: 1.25rem;
  font-weight: 500;

  background-color: var(--secondary-main);
  border: 2px solid var(--secondary-main);
  border-radius: 0 10px 10px 0;

  color: var(--font-colour);
}

.btn:hover {
  background-color: var(--secondary-dark);
  border: 2px solid var(--secondary-dark);

  color: var(--font-colour);
}

h1 {
  margin: 3rem 0 0.25rem 0;

  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

div.current-weather {
  height: 90px;
  margin: 0 auto;
}

img.current-weather-image {
  width: 4rem;
  height: 4rem;
}

.current-weather-number {
  font-size: 4rem;
  font-weight: 700;
}

.metric,
.dot {
  position: relative;
  font-size: 1.5rem;
}

.metric:hover {
  font-weight: 500;
  color: var(--secondary-dark);

  cursor: pointer;
}

.metric-active {
  font-weight: 500;
  color: var(--secondary-dark);
}

.current-weather-description {
  font-size: 1.25rem;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  font-size: 1.25rem;
  list-style-type: none;
}

.stats {
  font-weight: 700;
}

.five-days-forecast {
  margin: 3rem auto 0;
}

.weather-card {
  margin: 0 1rem;
  padding: 10px;
  font-size: 1.15rem;
  text-align: center;
  background: var(--white);
  border-radius: 16px;
}

img.weather-card-image {
  width: 3rem;
  height: 3rem;
}

.highest-temperature {
  font-weight: bold;
}

footer {
  font-size: 1rem;
  text-align: center;
}

a {
  color: var(--secondary-dark);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-darker);
  text-decoration: none;
}